<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=1200, initial-scale=1.0" />
        <title>{% block title %}{% endblock title %}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
        {% block header %}{% endblock header %}
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
        {% block div %}{% endblock div %}
        

    </body>                
</html>
